# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# IDE/editor settings
.vscode/
.idea/
*.swp

# Logs
*.log

# Flask specific
instance/
*.db

# Uploads (don’t push user-uploaded files)
uploads/

# System files
.DS_Store
Thumbs.db
